{% extends 'layout.html' %}

{% block content %}
    <h1 class="headline">Welcome to </h1><h1 class="headlinSco">ScooTec</h1>
    <p class="underHeadline">Your confidential advisor for renting and providing of e-scooters</p>

<form name="form_main" class="display">
    <div class="timer">
        <span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>:<span id="millisecond">000</span>
    </div>

  <br />

    <div class="control">
        <button type="button" name="start" class="start">start</button>
        <button type="button" name="stop" class="stop">stop</button>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='start.js') }}"></script>
</form>

{% endblock content %}
