body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.headline{
  margin-top: 15px;
  font-size: 75px;
  font-family: aakar;
}

.headlinSco {
  font-size: 200px;
  font-weight: bold;
  margin-top:-15px;
  font-family: aakar;
}

.underHeadline{
  font-size: 30px;
  margin-top: -20px;
}

.underText{
  font-size: 20px;
}


.benefits{
  margin-top: 30px;
}

.bottom{
  margin-top: 30px;
}

.display{
    width: 500px;
    height: 300px;
    background-color: #428bca;
    border-radius: 15px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.30) ;
    padding: 20px;
    margin-top: 30px;
}

.control {
  display: block;
}

.start, .pause, .stop, .reset{
  display: block;
  width: 300px;
  text-align: center;
  background-color: lightsteelblue;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px 0;
  border-radius: 15px;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.30) ;
  border: 0;
  outline: 0;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.start:hover, .stop:hover, .pause:hover, .reset:hover{
  background-color: darkslateblue;
  outline: none;
}

.start:active, .stop:active, .pause:active, .reset:active{
  background-color: white;
  color: #333333;
  box-shadow: none;
}


.timer {
  font-size: 50px;
  color: white;
  font-family: SansSerif;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}




